aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alabaster==0.7.16
anyio==4.12.1
astroid==2.11.0
astropy==7.2.0
astropy-iers-data==0.2026.2.2.0.48.1
attrs==25.4.0
babel==2.18.0
beautifulsoup4==4.14.3
cbor2==5.8.0
certifi==2026.1.4
cfgv==3.5.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
datasets==4.5.0
dill==0.4.0
distlib==0.4.0
-e git+file:///home/chennext/paper/NewAIProject/swe_bench_data/SWE-bench/ab_spec_study/repo_cache/django_django.git@e7fd69d051eaa67cb17f172a39b57253e9cb831a#egg=Django
docker==7.1.0
docutils==0.17.1
extension-helpers==1.4.0
fastcore==1.12.3
filelock==3.20.3
-e git+https://github.com/pallets/flask.git@7ee9ceb71e868944a46e1ff00b506772a53a4f1d#egg=Flask
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.10.0
ghapi==1.0.10
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.46
grpclib==0.4.9
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.3.2
hyperframe==6.1.0
identify==2.6.16
idna==3.11
imagesize==1.4.1
iniconfig==2.3.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
lazy-object-proxy==1.12.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mccabe==0.6.1
mdurl==0.1.2
modal==1.3.0.post1
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.18
nodeenv==1.10.0
numpy==1.26.4
packaging==25.0
pandas==2.3.3
pillow==12.1.0
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.1
propcache==0.4.1
protobuf==6.33.4
pyarrow==23.0.0
pyerfa==2.0.1.5
Pygments==2.19.2
-e git+https://github.com/pylint-dev/pylint.git@99589b08de8c5a2c6cc61e13a37420a868c80599#egg=pylint
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
radon
lizard
requests==2.32.5
rich==14.2.0
-e git+https://github.com/mwaskom/seaborn.git@54cab15bdacfaa05a88fbc5502a5b322d99f148e#egg=seaborn
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
snowballstemmer==3.0.1
soupsieve==2.8.3
-e git+https://github.com/sphinx-doc/sphinx.git@31eba1a76dd485dc633cae48227b46879eda5df4#egg=Sphinx
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.5
-e git+https://github.com/cornistraveling/SWE-bench.git@e38637c0e8ab046479b9af579c56b4a3ef5a50d7#egg=swebench
synchronicity==0.11.1
tenacity==9.1.2
toml==0.10.2
tqdm==4.67.1
typer==0.21.1
typer-slim==0.21.1
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing_extensions==4.15.0
tzdata==2025.3
unidiff==0.7.5
urllib3==2.6.3
virtualenv==20.36.1
watchfiles==1.1.1
Werkzeug==3.1.5
wrapt==1.14.1
xxhash==3.6.0
yarl==1.22.0
